{% extends '_base_sidebar.html' %}
{% load tags %}

{% block headers %}
	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/visualizer.css">

	<script type="text/javascript" src="{{ STATIC_URL }}js/ace-editor/ace.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jsPlumb-1.6.4-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/visualizer.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lesson.js"></script>

	<script type="text/javascript">
		var lesson_name = '{{ lesson.urlname }}';
	</script>
{% endblock %}

{% block sidebar %}
	{{ block.super }}
	<ul class="nav nav-sidebar">
		{% for lic in lessons %}
			<li{% if lesson == lic.lesson %} class="active"{% endif %}><a href="{% url 'lesson_in_course' lic.lesson.urlname %}">{{ lic.order }}. {{ lic.lesson.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	{{ block.super }}

	{% block lesson_body %}
	{% endblock %}
{% endblock %}
