{% extends '_lesson_page.html' %}
{% load tags %}

{% block lesson_body %}
	<h1 class="page-header">Занятие {{ lesson_in_course.order }}. {{ lesson.title }}</h1>

	{{ lesson_content|safe }}

	{% if problems %}
		<h3>Задачи:</h3>
		{% for problem in problems %}
			<p style="padding-left: 10pt;">
				<a href="/lessons/{{ lesson.urlname }}/problems/{{ problem.urlname }}/">{% problem_link problem %}</a>
				{% ideal_solution problem %}
			</p>
		{% endfor %}
		<h3><a href="/lessons/{{ lesson.urlname }}/standings/">Таблица результатов</a></h3>
	{% endif %}
	{% if lesson.external_contest_link %}
		<h3><a href="{{ lesson.external_contest_link }}">Внешний контест с задачами</a></h3>
	{% endif %}
{% endblock %}
