{% extends '_lesson_page.html' %}
{% load lesson %}

{% block headers %}
	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lesson.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/problem.css">

	<script type="text/javascript" src="{{ STATIC_URL }}js/problem.js"></script>

	<script type="text/javascript">
		var problem_name = '{{ problem.urlname }}';
	</script>
{% endblock %}

{% block navbar_active_lesson %}
	<ul class="lesson_sections">
		<li class="problems_link">
			<a href="#problems">Задачи</a>
			<ul>
				{% for menu_problem in problems %}
					<li class="{{ menu_problem.status }}"><a{% if menu_problem.urlname == problem.urlname %} class="active"{% endif %} href="{% url 'problem_in_lesson' lesson.name menu_problem.urlname %}">{{ menu_problem.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
{% endblock %}

{% block lesson_body %}
	<h1 class="lesson_name"><small><a href="{% url 'lesson_in_course' lesson.name %}"><span class="glyphicon glyphicon-chevron-left"></span></a> <a href="{% url 'lesson_in_course' lesson.name %}">Занятие {{ lesson_in_course.order }}</a>.</small> {{ lesson.title }}</h1>
	<h2 class="problem_name"><small>Задача</small> &laquo;{{ problem.name }}&raquo;</h2>
	<hr>

	{{ problem.statement | safe }}

	<hr>
	<div id="visualizer">{{ saved_code }}</div>

    <div class="submit_solution">
		<button class="btn btn-primary">Отправить решение на проверку</button>
	</div>

	<table id="example_tests" class="table table-condensed">
		<thead>
			<th class="debug_me"></th>
			<th>Входные данные</th>
			<th class="arrow"></th>
			<th>Выходные данные</th>
			<th class="test_result">Результат</th>
		</thead>
		<tbody>
			{% for test in tests_examples %}
			<tr>
				<td class="debug_me"><button class="glyphicon glyphicon-play-circle" title="Отладить код, используя эти входные данные"></button></td>
				<td><pre class="input">{{ test.input }}</pre></td>
				<td class="arrow"><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
				<td><pre class="output">{{ test.output }}</pre></td>
				<td class="test_result"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
