{% extends 'base.html' %}

{% block headers %}


<!-- load these local files only when localTesting == true 

<script type="text/javascript" src="mock-data.js"></script> 

-->

<script type="text/javascript" src="{{ STATIC_URL }}jquery.ba-bbq.min.js"></script>

<!-- disable autogrow for simplicity
  <script type="text/javascript" src="jquery.autogrow.js"></script>
 -->

<!-- jsPlumb library for rendering connectors -->
<script type="text/javascript" src="{{ STATIC_URL }}jquery.jsPlumb-1.3.3-all-min.js"></script>

<!-- my own code -->
<script type="text/javascript" src="{{ STATIC_URL }}edu-python.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}edu-python-visualizer.js" charset="utf-8"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}edu-python.css"/>

{% endblock %}

{% block body %}

<div id="pyInputPane">

Введите здесь программу на языке Python:
<br/>

<textarea class="codeInputPane" id="pyInput" cols="55" rows="15" wrap="off" spellcheck="false">{{ code }}</textarea>
<br/>
<br/>

Введите входные данные для программы:
<br/>

<textarea class="codeInputPane" id="inputData" cols="55" rows="8" wrap="off" spellcheck="false">{{ input }}</textarea>

<p>

<button id="executeBtn" class="bigBtn" type="button">Запустить программу</button>

</p>

<p style="margin-top: 25px;">Поиграйтесь с примерами различных программ:<br/>

<div id="exampleLinks">
	<a href="#" data-code="py_tutorial.txt" data-input="py_tutorial.in" class="default">презентация языка</a> |
	<a href="#" data-code="aliasing.txt">разные имена одного объекта</a> |
	<a href="#" data-code="fact.txt">факториал</a>
	<br>
	<a href="#" data-code="fib.txt">fibonacci</a> |
	<a href="#" data-code="memo_fib.txt">memoized fib</a> |
	<a href="#" data-code="sqrt.txt">square root</a> |
	<a href="#" data-code="ins_sort.txt">insertion sort</a>
	<br>
	<a href="#" data-code="filter.txt">filter</a> |
	<a href="#" data-code="strtok.txt">tokenize</a> |
	<a href="#" data-code="oop_small.txt">OOP</a> |
	<a href="#" data-code="wentworth_gcd.txt">gcd</a> |
	<a href="#" data-code="wentworth_sumList.txt">sumList</a> |
	<a href="#" data-code="towers_of_hanoi.txt">towers of hanoi</a> |
	<a href="#" data-code="wentworth_try_finally.txt">exceptions</a>
</div>

</p>

<!--
<p style="margin-top: 25px;">Examples from the MIT 
<a href="http://mit.edu/6.01/">6.01</a> course:<br/>

<a id="mapExampleLink" href="#" data-code="map.txt">list map</a> |
<a id="sumExampleLink" href="#" data-code="sum.txt">summation</a> |
<a id="oop1ExampleLink" href="#" data-code="oop_1.txt">OOP 1</a> |
<a id="oop2ExampleLink" href="#" data-code="oop_2.txt">OOP 2</a> |
<a id="inheritanceExampleLink" href="#" data-code="oop_inherit.txt">inheritance</a>

</p>

<p style="margin-top: 25px;">
Then try some sample programming questions:<br/>
Solve:
<a href="question.html?two-sum">Two-sum</a> |
<a href="question.html?reverse">Reverse list</a> |
<a href="question.html?remove-dups">Remove duplicate chars</a>

<br/>Debug:
<a href="question.html?debug-ireverse">In-place reverse</a> |
<a href="question.html?debug-bsearch">Binary search</a> |
<a href="question.html?debug-mergesort">Mergesort</a>

<br/>Optimize:

<a href="question.html?optimize-sum">Greatest sum</a> |
<a href="question.html?optimize-find-dups">Find duplicates</a> |
<a href="question.html?optimize-search">List search</a>

</p>
-->




</div>


<table border="0" id="pyOutputPane">
<tr>
<td valign="top">

<center>

<div id="pyCodeOutputDiv">

Чтобы выполнять программу по шагам, используйте клавиши со стрелками <b>влево</b> и <b>вправо</b>:
<table id="pyCodeOutput"></table>

</div>

<div id="editCodeLinkDiv">

<button id="editBtn" class="medBtn" type="button">Изменить программу</button>

</div>

<div id="vcrControls">
  <button id="jmpFirstInstr", type="button">&lt;&lt; В начало</button>
  <button id="jmpStepBack", type="button">&lt; Шаг назад</button>
  <span id="curInstr">Шаг ? из ?</span>
  <button id="jmpStepFwd", type="button">Шаг вперёд &gt;</button>
  <button id="jmpLastInstr", type="button">В конец &gt;&gt;</button>
</div>

<div id="errorOutput"></div>


</center>

<br>
Вывод программы:
<br/>
<textarea id="pyStdout" cols="50" rows="8" wrap="off" readonly></textarea>

<br/>
<br/>
Используемые входные данные:
<br/>
<textarea id="inputDataOnVisualizing" cols="50" rows="8" wrap="off" readonly></textarea>


</td>
<td valign="top">

<div id="dataViz"></div>

</td>
</tr>
</table>

{% include 'vis_footer.html' %}

{% endblock %}
