{% extends '_base_basic.html' %}

{% block headers %}
	{{ block.super }}

	<script type="text/javascript" src="{{ STATIC_URL }}js/ace-editor/ace.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jsPlumb-1.6.4-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/visualizer.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/visualizer-page.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/visualizer.css">
{% endblock %}

{% block body %}
	<div id="visualizer"></div>

	<p style="margin-top: 25px;">Поиграйтесь с примерами различных программ:<br>
		<div id="exampleLinks">
			<a href="#" data-code="py_tutorial.txt" data-input="py_tutorial.in" class="default">презентация языка</a> |
			<a href="#" data-code="aliasing.txt">разные имена одного объекта</a> |
			<a href="#" data-code="fact.txt">факториал</a>
			<br>
			<a href="#" data-code="fib.txt">fibonacci</a> |
			<a href="#" data-code="memo_fib.txt">memoized fib</a> |
			<a href="#" data-code="sqrt.txt">square root</a> |
			<a href="#" data-code="ins_sort.txt">insertion sort</a>
			<br>
			<a href="#" data-code="filter.txt">filter</a> |
			<a href="#" data-code="strtok.txt">tokenize</a> |
			<a href="#" data-code="oop_small.txt">OOP</a> |
			<a href="#" data-code="wentworth_gcd.txt">gcd</a> |
			<a href="#" data-code="wentworth_sumList.txt">sumList</a> |
			<a href="#" data-code="towers_of_hanoi.txt">towers of hanoi</a> |
			<a href="#" data-code="wentworth_try_finally.txt">exceptions</a>
		</div>
	</p>
{% endblock %}
